.gyu{
    background-image: url("./image/hio.jpg");
background-repeat:  repeat-x;
opacity: 0.9;
z-index: 1;
}

button:focus {outline:0;}
.lin{
  font-size: 16px;
}

@media only screen and (max-width: 600px) {

  .gyu{
  background-image: url("./image/hio.jpg");
  background-repeat:  repeat-x;
  background-repeat:  repeat-y;
  opacity: 0.9;
  height: 100%;
z-index: 1;

  }


}
